body{
	background-color:rgba(0,0,0,0);
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
span#version{
	color:white;
	font-weight: bold;
	position:absolute;
	font-family:'Arial', sans-serif;
	top:1px;
	left:50px;
	font-size:12px;
}
span#platform{
	color:white;
	font-weight: bold;
	position:absolute;
	font-family:'Arial', sans-serif;
	top:15px;
	left:50px;
	font-size:12px;
}
#minimg, #maximg, #closeimg{
	position:relative;
	top:-2.5px;
	left:-2.5px;
}
#minimg{
	position:relative;
	right:2px;
	top:-3px;
}
#maximg{
	position:relative;
}
#titlebar{
	height:30px;
	width: calc(100% - 60px);
	position:absolute;
	top:0;
	left:0;
	background-color:#212121;
	border-bottom:2px white solid;
	-webkit-app-region: drag;
	border-top-left-radius:15px;
}
#iframe{
	width:100%;
	position:absolute;
	top:31px;
	left:0;
	height:calc(100% - 31px);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
#titlebar-icon{
	position:absolute;
	top:0;
	left:0;
}
.closebtn{
	position:absolute;
	right:0;
	height:29px;
	width:30px;
	background-color:#ff3b3b;
	border-top:1px solid #5f646b;
	border-left:1px solid #5f646b;
	cursor: url;
}
.maxbtn{
	position:absolute;
	right:30px;
	height:29px;
	width:30px;
	background-color:#3fde23;
	border-top:1px solid #5f646b;
	border-left:1px solid #5f646b;
}
.minbtn{
	position:absolute;
	right:32px;
	height:29px;
	width:30px;
	background-color:#ff8d3b;
	border-top:1px solid #5f646b;
	border-left:1px solid #5f646b;
	cursor: url;
}
.minbtn:hover{
	background-color:#6b6b6b;
	cursor: url;
	border-top:2px solid white;
	border-left:2px solid white;
} 
.maxbtn:hover{
	background-color:#6b6b6b;
	cursor: url;
	border-top:2px solid white;
	border-left:2px solid white;
}
.closebtn:hover{
	cursor: url;
	background-color:#ff5252;
	border-top:2px solid darkred;
	border-left:2px solid darkred;
}
#iframelocation{
	background-color: white;
	height:25px;
	position:absolute;
	top:2px;
	left:calc(25% - 2.5px);
	width:50%;
	border:1px solid darkgrey;
}
#iframelocation img{
	position: relative;
	bottom:3px;
}
#iframelocationtext{
	position:relative;
	bottom:12px;
	font-family: 'Segoe UI', sans-serif;
}
.backbtn{
	position:absolute;
	top:4.5px;
	left:100px;
	border: white 1px solid;
	height:20px;
	width:80px;
}
